<ul class="social-media">
  <li>
    <a href="https://github.com/mapleqin" >
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/114897963004756761524">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-gplus"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/maplesqin">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="http://weibo.com/freakqin">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-weibo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="//blog.mapleqin.org">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-blog"></use>
      </svg>
    </a>
  </li>
</ul>
